// Global

// Login page
$headshot-diameter: 170px;
$login-input-width: 220px;
$login-input-bg-color: #FAFAFA;
$login-input-border-color: #979797;

// Side bar
$side-bar-width: 350px;
$headshot-diameter: 170px;

// Main content
$lists-width: 580px;
$delete-button-hover-color: #fc4f4f;

// Editor
$small-button-radius: 40px;
$big-button-radius: 60px;

//   Register page
// $headshot-diameter: 170px;
// $login-input-width: 220px;
// $login-input-bg-color: #FAFAFA;
// $login-input-border-color: #979797;